In [1]:
import pandas as pd
df=pd.read_csv('csv/bust.csv')
df

          Brands Letter_sizing   Bust
0         Amazon            XS  32.50
1         Amazon             S  34.50
2         Amazon             M  36.50
3         Amazon             L  39.25
4         Amazon            XL  42.25
..           ...           ...    ...
239  FashionNova            XS  32.50
240  FashionNova             S  34.50
241  FashionNova             M  36.50
242  FashionNova             L  39.25
243  FashionNova            XL  41.50

[244 rows x 3 columns]

## How many brands are here?

In [2]:
df['Brands'].nunique()

43

In [3]:
df.isna().sum()

Brands           0
Letter_sizing    0
Bust             0
dtype: int64

## Remove string 'Size Charts' or 'size charts' from df['Brand']

In [4]:
df['Brands'] = df['Brands'].str.replace('size charts', '', case=False, regex=True).str.strip()
df

          Brands Letter_sizing   Bust
0         Amazon            XS  32.50
1         Amazon             S  34.50
2         Amazon             M  36.50
3         Amazon             L  39.25
4         Amazon            XL  42.25
..           ...           ...    ...
239  FashionNova            XS  32.50
240  FashionNova             S  34.50
241  FashionNova             M  36.50
242  FashionNova             L  39.25
243  FashionNova            XL  41.50

[244 rows x 3 columns]

## Make the first letter of the string from df['Brand'] capital.

In [5]:
df['Brands'] = df['Brands'].str.strip().str[0].str.upper() + df['Brands'].str.strip().str[1:]
df.head(40)

                       Brands Letter_sizing   Bust
0                      Amazon            XS  32.50
1                      Amazon             S  34.50
2                      Amazon             M  36.50
3                      Amazon             L  39.25
4                      Amazon            XL  42.25
5         Abercrombie & Fitch            XS  32.50
6         Abercrombie & Fitch             S  34.50
7         Abercrombie & Fitch             M  36.50
8         Abercrombie & Fitch             L  38.00
9                     Addidas           XXS  29.30
10                    Addidas            XS  31.30
11                    Addidas             S  33.70
12                    Addidas             M  36.00
13                    Addidas             L  38.60
14                    Addidas            XL  41.50
15                    Addidas           XXL  44.90
16                 Aerpostale           XXS  30.50
17                 Aerpostale            XS  31.50
18                 Aerpostale            XS  32.50
19                 Aerpostale             S  33.50
20                 Aerpostale             S  34.50
21                 Aerpostale             M  35.50
22                 Aerpostale             M  36.50
23                 Aerpostale             L  38.00
24                 Aerpostale             L  39.50
25                 Aerpostale            XL  41.00
26                 Aerpostale            XL  42.50
27                 Aerpostale           XXL  44.00
28                 Affliction            XS  32.50
29                      Alloy            XS  31.50
30                      Alloy           XXL  45.00
31                      Alloy          XXXL  49.00
32  American Eagle Outfitters           XXS  31.00
33  American Eagle Outfitters            XS  32.50
34                      Alloy            XS  25.00
35                      Alloy             S  27.00
36                      Alloy             S  28.00
37                      Alloy             M  29.00
38                      Alloy             M  30.00
39                      Alloy             L  31.00

## Find the brands that DO NOT have XS or XL.

In [17]:
df.to_csv('updated_busts.csv')

In [18]:
brands_with_xs = df.loc[df['Letter_sizing'] == 'XS', 'Brands'].unique()
brands_without_xs = df.loc[~df['Brands'].isin(brands_with_xs), 'Brands'].unique()
brands_without_xs

array(['Michael Kors'], dtype=object)

In [19]:
brands_with_xl = df.loc[df['Letter_sizing'] == 'XL', 'Brands'].unique()
brands_without_xl = df.loc[~df['Brands'].isin(brands_with_xl), 'Brands'].unique()
brands_without_xl

array(['Abercrombie & Fitch', 'Affliction', 'American Eagle Outfitters',
       'Ann Taylor', 'ASOS', 'French Connection USA', 'Michael Kors'],
      dtype=object)

In [4]:
import pandas as pd
import re
df=pd.read_csv('csv/decemer_bust.csv')
df

          Brands Letter_sizing   Bust
0         Amazon            XS  32.50
1         Amazon             S  34.50
2         Amazon             M  36.50
3         Amazon             L  39.25
4         Amazon            XL  42.25
..           ...           ...    ...
236  FashionNova            XS  32.50
237  FashionNova             S  34.50
238  FashionNova             M  36.50
239  FashionNova             L  39.25
240  FashionNova            XL  41.50

[241 rows x 3 columns]

In [6]:
df['Brands'] = (
    df['Brands']
      .str.replace(r'size charts', '', regex=True, flags=re.IGNORECASE)
      .str.strip()
)
df

          Brands Letter_sizing   Bust
0         Amazon            XS  32.50
1         Amazon             S  34.50
2         Amazon             M  36.50
3         Amazon             L  39.25
4         Amazon            XL  42.25
..           ...           ...    ...
236  FashionNova            XS  32.50
237  FashionNova             S  34.50
238  FashionNova             M  36.50
239  FashionNova             L  39.25
240  FashionNova            XL  41.50

[241 rows x 3 columns]

In [7]:
df.dtypes

Brands            object
Letter_sizing     object
Bust             float64
dtype: object

In [9]:
df.to_csv('updated_bust_sizes.csv')

## Ok, let's find the average of these duplicates instead!